@charset "UTF-8";

/* Regra */
@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');
/* Da pra pegar fontes do google fonts - dar preferencia por imports */


@font-face { /* Fontes via arquivo*/
    font-family: 'Minha Fonte';
    src: url();


    /*Tipos de format()
    - opentype (otf)
    - trutype (ttf)
    - embedde-opentype
    - truetypr-aat (Apple Advanced Typography)
    -svg */
}

/* Seletor */
body {

    /* Declarações */
    font-family: Epunda Slab, serif;
    /*Conjunto entre propriedades e valores -  serif, sans-serif, monospace, cursive, fantasy  */

    /* Medidas Absolutas
        cm, mm, in, px, pt, pc
    
        
        Medidas Relativas
        em, ex, rem, vw, vh, %
        16px geralmente = 1em
    */

    font-size: bolder;
    font-weight: bolder;
    text-decoration: underline;

    /*lighter normal bold bolder */

}

h1 {
    /*shorthand font

     SEGUIR ESSA ORDEM -->>>
    - font-style -> font-weight -> font-size -> font-family 

    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
    */

    font: italic bolder 3em 'Work Sans', sans-serif;
}

h2 {
    font: bold 2em 'Work Sans';
}